<!DOCTYPE html>
<head>
	<title>Project 2</title>
	<link rel="stylesheet" style="text/css" href="../../assets/stylesheets/style.css" >
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<%= link_to(root_path) do %>
			  <div class="logo">
			  </div>
		    <% end %>
			<div class="nav-social">
				<div class="social-icons">
				</div>
				<div class="navigation">
					<ul>
						<li><%= link_to "About", about_path %></li>
						<li><%= link_to "News", news_path %></li>
						<li><%= link_to "Shows", shows_path %></li>
						<li><%= link_to "Music", music_path %></li>
						<li><%= link_to "Video", video_path %></li>
						<li><%= link_to "Photos", photos_path %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="content">
	            <div class="post-list">
				<table>
				<thead>
					<tr>
					<th>Date</th>
					<th>Title</th>
					<th>Content</th>
					</tr>
					</thead>
					<%@post.each do |post| %>
					<tr>
					<td><%= post.date %></td>
					<td><%= post.title %></td>
					<td><%= post.body %></td>
					</tr>
				<% end %>
				</table>
	         </div>
			</div>
		</div>
	</div>
</body>
</html>