<!DOCTYPE html>
<head>
	<title>Project 2</title>
	<link rel="stylesheet" style="text/css" href="../../assets/stylesheets/style.css" >
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<%= link_to(root_path) do %>
			  <div class="logo">
			  </div>
		    <% end %>
			<div class="nav-social">
				<div class="social-icons">
				</div>
				<div class="navigation">
					<ul>
						<li><%= link_to "About", about_path %></li>
						<li><%= link_to "News", news_path %></li>
						<li><%= link_to "Shows", shows_path %></li>
						<li><%= link_to "Music", music_path %></li>
						<li><%= link_to "Video", video_path %></li>
						<li><%= link_to "Photos", photos_path %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="news-content">
				<h1>Latest News</h1>
	            <div class="post-list">

					<%@post.each do |post| %>
                    <div class="news-post">
					<%= post.date %>
					<%= post.title %>
                    <br>
					<%= post.body %>
				    </div>
                    <br><br>
				<% end %>

	         </div>
			</div>
		</div>
	</div>
</body>
</html>