<head>
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/backend-style.css" >
</head>
<body>
	<h1>Edit Your Posts</h1>
	<div class="page-contents">
		<div class="new-entry">
	        <%= link_to 'Create New Post', addpost_path %>
	    </div>
	    <div class="nav-button">
	  	    <%= link_to 'Edit Shows', tourdate_path %>
	    </div>
	    <div class="post-list">
			<table>
			<thead>
				<tr>
				<th>Date</th>
				<th>Title</th>
				<th>Content</th>
				</tr>
				</thead>
				<%@posts.each do |post| %>
				<tr>
				<td><%= post.date %></td>
				<td><%= post.title.truncate(50) %></td>
				<td><%= post.body.truncate(25) %></td>
				</tr>
			<% end %>
			</table>
	    </div>
	</div>
</body>