<h1> <%= @tourdate.date %> </h1>
<p>This show is on <%= @tourdate.date %> in <%= @tourdate.city %> at <%= @tourdate.venue %> and starts at <%= @tourdate.time %>. </p>

<%= link_to "Back to Shows", tourdate_path %>